body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2064px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1968px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:624px;
  width:1968px;
  height:568px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:1964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1968px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:1968px;
  height:568px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:1964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:35px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:466px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:88px;
  width:454px;
  height:466px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:225px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:564px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:464px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:88px;
  width:660px;
  height:464px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:224px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:564px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:564px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1968px;
  height:1392px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1240px;
  width:1968px;
  height:1392px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:688px;
  width:1964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1259px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:1782px;
  width:361px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:466px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1306px;
  width:454px;
  height:466px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:225px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:1753px;
  width:245px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:1368px;
  width:320px;
  height:40px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:1577px;
  top:1753px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:464px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:1279px;
  width:574px;
  height:464px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:224px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:112px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:1832px;
  width:344px;
  height:112px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:340px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:162px;
  background:inherit;
  background-color:rgba(82, 196, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1470px;
  width:72px;
  height:162px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:68px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:1539px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-21px;
  width:80px;
  height:11px;
  -webkit-transform:rotate(-23deg);
  -moz-transform:rotate(-23deg);
  -ms-transform:rotate(-23deg);
  transform:rotate(-23deg);
}
#u36_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-36px;
  width:80px;
  height:12px;
}
#u36_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36_seg3 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:-43px;
  width:26px;
  height:26px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:1392px;
  width:127px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:2354px;
  width:245px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:1539px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:153px;
  width:363px;
  height:26px;
  -webkit-transform:rotate(67deg);
  -moz-transform:rotate(67deg);
  -ms-transform:rotate(67deg);
  transform:rotate(67deg);
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:441px;
  width:365px;
  height:29px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u42_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42_seg3 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:554px;
  width:26px;
  height:26px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:317px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:1812px;
  width:91px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:437px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:102px;
  width:558px;
  height:437px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:210px;
  width:554px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:464px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:1279px;
  width:660px;
  height:464px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:224px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:112px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:2424px;
  width:344px;
  height:112px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:340px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:464px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:1880px;
  width:660px;
  height:464px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:224px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:72px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:2016px;
  width:408px;
  height:72px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:2016px;
  width:57px;
  height:16px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:2042px;
  width:19px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:2056px;
  width:43px;
  height:16px;
  color:#AEAEAE;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:2082px;
  width:330px;
  height:31px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:2112px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:-346px;
  top:-69px;
  width:360px;
  height:27px;
  -webkit-transform:rotate(-159deg);
  -moz-transform:rotate(-159deg);
  -ms-transform:rotate(-159deg);
  transform:rotate(-159deg);
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:-637px;
  top:-255px;
  width:358px;
  height:26px;
  -webkit-transform:rotate(-136deg);
  -moz-transform:rotate(-136deg);
  -ms-transform:rotate(-136deg);
  transform:rotate(-136deg);
}
#u64_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64_seg3 {
  border-width:0px;
  position:absolute;
  left:-586px;
  top:-375px;
  width:26px;
  height:26px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:-376px;
  top:-135px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:1800px;
  width:145px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:1511px;
  width:0px;
  height:0px;
}
#u68_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:41px;
  height:9px;
  -webkit-transform:rotate(11deg);
  -moz-transform:rotate(11deg);
  -ms-transform:rotate(11deg);
  transform:rotate(11deg);
}
#u68_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:0px;
  width:41px;
  height:9px;
  -webkit-transform:rotate(-11deg);
  -moz-transform:rotate(-11deg);
  -ms-transform:rotate(-11deg);
  transform:rotate(-11deg);
}
#u68_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68_seg3 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-10px;
  width:26px;
  height:26px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2032px;
  height:1184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:2704px;
  width:2032px;
  height:1184px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:584px;
  width:2028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:2731px;
  width:224px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:162px;
  background:inherit;
  background-color:rgba(82, 196, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:2969px;
  width:72px;
  height:162px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:68px;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:3316px;
  width:337px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:3312px;
  width:193px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:456px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:2822px;
  width:419px;
  height:456px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:220px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:461px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:2820px;
  width:418px;
  height:461px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:222px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:3052px;
  width:97px;
  height:84px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:63px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:2953px;
  width:79px;
  height:63px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:3332px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:456px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:2776px;
  width:419px;
  height:456px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:220px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:231px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:3242px;
  width:679px;
  height:231px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:675px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:3050px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-1px;
  width:32px;
  height:9px;
  -webkit-transform:rotate(13deg);
  -moz-transform:rotate(13deg);
  -ms-transform:rotate(13deg);
  transform:rotate(13deg);
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:32px;
  height:8px;
  -webkit-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
  transform:rotate(-10deg);
}
#u94_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94_seg3 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-9px;
  width:26px;
  height:26px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:3051px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-14px;
  width:76px;
  height:10px;
  -webkit-transform:rotate(-18deg);
  -moz-transform:rotate(-18deg);
  -ms-transform:rotate(-18deg);
  transform:rotate(-18deg);
}
#u96_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-48px;
  width:77px;
  height:11px;
  -webkit-transform:rotate(-41deg);
  -moz-transform:rotate(-41deg);
  -ms-transform:rotate(-41deg);
  transform:rotate(-41deg);
}
#u96_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96_seg3 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-72px;
  width:26px;
  height:26px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:2985px;
  width:0px;
  height:0px;
}
#u98_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:7px;
  width:70px;
  height:10px;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
}
#u98_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:16px;
  width:70px;
  height:11px;
  -webkit-transform:rotate(-2deg);
  -moz-transform:rotate(-2deg);
  -ms-transform:rotate(-2deg);
  transform:rotate(-2deg);
}
#u98_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98_seg3 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:8px;
  width:26px;
  height:26px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:3004px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:62px;
  width:158px;
  height:15px;
  -webkit-transform:rotate(109deg);
  -moz-transform:rotate(109deg);
  -ms-transform:rotate(109deg);
  transform:rotate(109deg);
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:209px;
  width:160px;
  height:17px;
  -webkit-transform:rotate(86deg);
  -moz-transform:rotate(86deg);
  -ms-transform:rotate(86deg);
  transform:rotate(86deg);
}
#u100_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u100_seg3 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:269px;
  width:26px;
  height:26px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:134px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:461px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:3355px;
  width:418px;
  height:461px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:222px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:3826px;
  width:193px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:192px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:3504px;
  width:304px;
  height:192px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:3519px;
  width:41px;
  height:41px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:3586px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:center;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:3648px;
  width:295px;
  height:48px;
  color:#AEAEAE;
  text-align:center;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:3050px;
  width:0px;
  height:0px;
}
#u114_seg0 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:117px;
  width:286px;
  height:25px;
  -webkit-transform:rotate(74deg);
  -moz-transform:rotate(74deg);
  -ms-transform:rotate(74deg);
  transform:rotate(74deg);
}
#u114_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:389px;
  width:283px;
  height:22px;
  -webkit-transform:rotate(96deg);
  -moz-transform:rotate(96deg);
  -ms-transform:rotate(96deg);
  transform:rotate(96deg);
}
#u114_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u114_seg3 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:513px;
  width:26px;
  height:26px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:255px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:2948px;
  width:181px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:3114px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:3322px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:66px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:3429px;
  width:147px;
  height:66px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:162px;
  background:inherit;
  background-color:rgba(82, 196, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:3422px;
  width:72px;
  height:162px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:68px;
  word-wrap:break-word;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:1259px;
  width:224px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:80px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:3096px;
  width:311px;
  height:80px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:3096px;
  width:281px;
  height:80px;
  text-align:center;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:88px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:2880px;
  width:271px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:449px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:651px;
  width:702px;
  height:449px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:216px;
  width:698px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:407px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:672px;
  width:353px;
  height:407px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:162px;
  background:inherit;
  background-color:rgba(82, 196, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:768px;
  width:72px;
  height:162px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:68px;
  word-wrap:break-word;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:162px;
  background:inherit;
  background-color:rgba(82, 196, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:2399px;
  width:72px;
  height:162px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:68px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:466px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1966px;
  width:454px;
  height:466px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:225px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:2464px;
  width:502px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1772px;
  width:0px;
  height:0px;
}
#u146_seg0 {
  border-width:0px;
  position:absolute;
  left:-244px;
  top:-26px;
  width:246px;
  height:55px;
  -webkit-transform:rotate(168deg);
  -moz-transform:rotate(168deg);
  -ms-transform:rotate(168deg);
  transform:rotate(168deg);
}
#u146_seg1 {
  border-width:0px;
  position:absolute;
  left:-437px;
  top:220px;
  width:386px;
  height:37px;
  -webkit-transform:rotate(89deg);
  -moz-transform:rotate(89deg);
  -ms-transform:rotate(89deg);
  transform:rotate(89deg);
}
#u146_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u146_seg3 {
  border-width:0px;
  position:absolute;
  left:-242px;
  top:404px;
  width:26px;
  height:26px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:-283px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:2392px;
  width:37px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:2376px;
  width:79px;
  height:40px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:2376px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-110px;
  width:361px;
  height:29px;
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  -ms-transform:rotate(-30deg);
  transform:rotate(-30deg);
}
#u152_seg1 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:-222px;
  width:359px;
  height:27px;
  -webkit-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  -ms-transform:rotate(-8deg);
  transform:rotate(-8deg);
}
#u152_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u152_seg3 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:-238px;
  width:26px;
  height:26px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:-185px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
